* {
    box-sizing: border-box;
}

body {
	font-family: "Times-New-Roman", Times, Serif;
	font-size: 100%;
	background-image: url("Images/footer_lodyas.png"); /*Source http://subtlepatterns.com/dark-sharp-edges/ */
}

#ocwrap {
	width: 90%;
	margin: auto;
	min-width: 640px;
	max-width: 1920px;
	min-height: 480px;
}

#logo {
	float: left;
	width: 50px;
	margin-right: 10px;
}

header, footer, #logo, nav#top {
	height: 50px;
}

header, footer, nav#top {
	line-height: 50px;
	font-family: Arial, Helvetica, Sans-Serif;
	background-color: DarkGray;
	padding-left: 10px;
	margin: 25px 0px;
}

/*Styling for top bar links*/
nav#top a {
	/*all variations inherit from this, overriding where necessary*/
	color: black;
	text-decoration: none;
	background-color: lightgray;
	padding: 5px;
	width: 50px;
	transition: background-color 0.5s;
}

nav#top a:hover {
	background-color: white;
}

nav#top a:link {
}

nav#top a:active {
	background-color: darkgray;
}

nav#top a:visited {
}

footer {
		/*text-align: center;*/
}

main {
	width: 90%;
	min-width: 640px;
	min-height: 480px;
	margin: auto;
	background-color: white;
	padding: 5px;
}

nav#folders {
}

nav#lists {
}

#listView {
}

#listTitle {
	width: 100%
}

.loginBox,.settingsBox {
	margin: auto;
	background-color: lightblue;
	height: 250px;
	width: 250px;
	padding: 25px;
	border: 10px solid white;
}


#BoxWrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: center;
	align-content: center;
	background-color: inherit;
	width: 100%;
	min-width: 635px;
	min-height: 475px;
}